<div *ngIf="film">
  <ngb-carousel
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
    [interval]="4000"
    [pauseOnHover]="false"
  >
    <ng-template ngbSlide *ngFor="let i of imageIter">
      <div class="picsum-img-wrapper">
        <img
          [src]="'../../../assets/img/movies/' + film + '/img_' + i + '.jpg'"
          [class]="'d-block w-100 carousel-height'"
          [alt]="film"
        />
      </div>
    </ng-template>
  </ngb-carousel>

  <div [class]="'title-border text-light'">
    <div [class]="'container'">
      <h4>{{ film }}</h4>
    </div>
  </div>
</div>
