@import "../../../styles.scss";

.carousel-height {
  overflow: hidden;
  width: auto;
  height: auto;
  opacity: 0.9;
}

.carousel {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 50%
  );
}

.title-border {
  width: 100%;
  position: relative;
  z-index: 4500;
  background-color: $primary;
  padding: 3rem;
  margin-top: -10px;
  text-align: center;
  border: none;
}
.title-border h4 {
  font-weight: 300;
  font-size: 1.6rem;
}
.title-border p {
  font-size: 1rem;
}
