<div class="h-100 bg-color-plate">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6col-md-12col-sm-12">
        <img
          src="../../../assets/img/ghibli_logo_white.png"
          class="card-img-top card-image mb-2"
          alt="Studio Ghibli logo"
        />

        <div class="card card-properties">
          <form [formGroup]="signup" (ngSubmit)="signupSubmit()">
            <div class="card-body">
              <h5 class="c-title text-center">
                Welcome to Studio Ghibli,
              </h5>
              <p class="c-text text-center">
                Enter in your information to create your new account
              </p>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter first name"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter last name"
                  formControlName="lastName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter email"
                  formControlName="email"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter password"
                  formControlName="password"
                />
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="gridCheck"
                />
                <label class="form-check-label" for="gridCheck">
                  Keep me signed in
                </label>
              </div>

              <hr />

              <div class="login-div">
                Have an account?
                <a class="login" routerLink="../login">Go back to login</a>
              </div>
            </div>

            <div class="card-footer text-right">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
