<div [class]="'collapse'" id="navbarToggleExternalContent">
  <div [class]="'bg-dark p-4'">
    <div [class]="'bg-dark container'">
      <h4 [class]="'col-12 text-white'">All Films</h4>
      <div [class]="'row justify-content-start'">
        <div *ngFor="let film of films" [class]="'col-lg-3 col-md-5 col-sm-12'">
          <a [class]="'film'" [routerLink]="['/home/films', film.name]">{{
            film.name
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<nav [class]="'navbar navbar-expand-lg navbar-dark bg-dark'">
  <img
    [class]="'img-logo mr-3'"
    src="../../assets/img/ghibli_logo_white_nav.png"
    alt=""
  />

  <button
    [class]="'navbar-toggler'"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span [class]="'navbar-toggler-icon text-light'"></span>
  </button>

  <div [class]="'collapse navbar-collapse'" id="navbarSupportedContent">
    <ul [class]="'navbar-nav mr-auto'">
      <li [class]="'nav-item'">
        <a [class]="'nav-link'" routerLink="/">Home</a>
      </li>
      <li [class]="'nav-item'">
        <a
          [class]="'nav-link film-link'"
          data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >Films</a
        >
      </li>
      <li [class]="'nav-item'">
        <a [class]="'nav-link'" routerLink="../auth">Users</a>
      </li>
      <li [class]="'nav-item dropdown'">
        <a
          [class]="'nav-link dropdown-toggle'"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Favorites
        </a>
        <div [class]="'dropdown-menu'" aria-labelledby="navbarDropdown">
          <a [class]="'dropdown-item'" routerLink="landing">Films</a>
          <div [class]="'dropdown-divider'"></div>
          <a [class]="'dropdown-item'" routerLink="characters">Characters</a>
          <a [class]="'dropdown-item'" routerLink="species">Species</a>
          <a [class]="'dropdown-item'" routerLink="vehicles">Vehicles</a>
        </div>
      </li>
    </ul>
    <!-- <div [class]="'navbar-text'">asdahdkahadldjsh</div> -->
    <a [class]="'navbar-text'">
      <!-- <button
        *ngIf="loggedIn"
        type="button"
        [class]="'btn btn-outline-secondary'"
        (click)="login()"
      >
        Login
      </button> -->
      <button
        type="button"
        [class]="'btn btn-outline-primary'"
        (click)="logout()"
      >
        Logout
      </button>
    </a>
  </div>
</nav>

<div [class]="'container mt-5'">
  <router-outlet></router-outlet>
</div>
