@import "../../../styles.scss";

.film-link {
  cursor: pointer;
}

.film {
  color: $lightText !important;
  text-decoration: none !important;
  cursor: pointer;
  transition: color $transition;
}

.film:hover {
  color: $secondary !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: $lightText;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: $tertiary;
  transition: color $transition;
}

.nav-link {
  transition: color $transition;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

// Login
.btn-outline-primary {
  border-color: $quinary;
  color: $quinary;
  transition: color $transition, background-color $transition;
}
.btn-outline-primary:hover {
  border-color: $quinary;
  background-color: $quinary;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: $quinary;
  border-color: $quinary;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem $quinaryHover;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $quinaryHover;
}

// Login
.btn-outline-secondary {
  border-color: $tertiary;
  color: $tertiary;
  transition: color $transition, background-color $transition;
}
.btn-outline-secondary:hover {
  border-color: $tertiary;
  background-color: $tertiary;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: $tertiary;
  border-color: $tertiary;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem $tertiaryHover;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $tertiaryHover;
}
