<ngb-carousel
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  [interval]="4000"
  [pauseOnHover]="false"
>
  <ng-template ngbSlide>
    <div class="pcisum-img-wrapper">
      <img
        class="d-block w-100 carousel-height"
        src="../../../assets/img/_collection.jpg"
        alt="Studio Ghibli Collection"
      />
    </div>
  </ng-template>

  <ng-template ngbSlide *ngFor="let film of filmDirs">
    <div class="picsum-img-wrapper">
      <img
        [src]="'../../../assets/img/movies/' + film.name + '/initial.jpg'"
        [class]="'d-block w-100 carousel-height'"
        [alt]="film"
      />
    </div>
    <div [class]="'bgd film-title text-light'">{{ film.name }}</div>
  </ng-template>
</ngb-carousel>

<div class="title-border text-light">
  <div class="container">
    <h4 class="mb-4">The Studio Ghibli Collection</h4>
    <p>
      Studio Ghibli is one of the most acclaimed animation studios in the world,
      and the home of some of the most revered and beloved animated works to
      have ever graced the screen.
    </p>
  </div>
</div>

<!--  
<div
  class="carousel slide"
  data-ride="carousel"
  data-interval="4000"
  data-pause="false"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100 carousel-height"
        src="../../../assets/img/_collection.jpg"
        alt="Studio Ghibli Collection"
      />
    </div>

    <div [class]="'carousel-item'" *ngFor="let film of filmDirs">
      <img
        [src]="'../../../assets/img/movies/' + film + '/initial.jpg'"
        alt=""
        [class]="'d-block w-100 carousel-height'"
      />
      <div [class]="'bgd film-title text-light'">{{ film }}</div>
    </div>
  </div>
  <div class="title-border text-light">
    <div class="container">
      <h4 class="mb-4">The Studio Ghibli Collection</h4>
      <p>
        Studio Ghibli is one of the most acclaimed animation studios in the
        world, and the home of some of the most revered and beloved animated
        works to have ever graced the screen.
      </p>
    </div>
  </div>
</div>
-->
<router-outlet></router-outlet>
