.background-image {
  background-image: url("../../../assets/img/404.jpg");
  background-size: 100% auto;

  width: 100% !important;
  height: 100vh !important;
  object-fit: cover !important;
  object-position: top center !important;
  // width: 100vw !important;
  // height: 100vh !important;
  // background-repeat: no-repeat;;
  background-size: cover;
}

.card {
  opacity: 0.8;
  position: absolute !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
}
