.img-fade {
  // background: #000000;
  animation: fadeInEase 1.5s;
}

.img-fade img {
  cursor: pointer;
  transform: scale(1.0075);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.img-fade img:hover {
  // transform: scale(1.05);
  opacity: 0.9;
}

// Side scrolling is really bad especially for mobile devices (This should fix it with the way the images are scrunchied together
@media only screen and (max-width: 575px) {
  .img-fade img {
    transform: none;
    transform: scaleY(1.0075);
  }

  .card-align:nth-child(n + 2) {
    margin-top: -5px;
  }
}

@keyframes fadeInEase {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
