<div class="row justify-content-center no-gutters mb-5">
  <!-- Hello landing section -->

  <!-- All the film images -->

  <div
    *ngFor="let film of filmIterables; index as i"
    [class]="'col-lg-3 col-md-4 col-sm-6 card-align'"
  >
    <div [class]="'card img-fade'">
      <a [routerLink]="['/home/films', film.name]">
        <img [src]="film.url" alt="film" [class]="'img-fluid'" />
      </a>
    </div>
  </div>
</div>

<!-- [src]="'../../assets/img/posters/' + film + '.jpg'" -->
<!--  -->
